- @page_title = "Add a new fiat payout channel"
- default_provider = AddressProviders::Cashila

.page.exchanges.new

  %h1 Adding a new fiat payout channel

  Select CURRENCY:
  %select#address_provider
    - AddressProvider.providers.each do |provider|
      %option{value: provider.type, selected: provider == default_provider}
        = provider::CURRENCIES.first

  - if @address_provider && @address_provider.errors[:type].present?
    %p.error= @address_provider.errors[:type].join(', ')

  - AddressProvider.providers.each do |provider|
    - current = @address_provider && @address_provider.instance_of?(provider)
    = render partial: "address_providers/forms/#{provider.type.underscore}", locals: {provider: current ? @address_provider : nil, provider_class: provider, hidden: @address_provider ? !current : provider != default_provider}
