/.bundle
db/*.sqlite3
.sass-cache/
/spring

tmp/*
!tmp
log/*.log
!log
/coverage

# Ignore all .yml and .txt files in config, because they should obviously are env specific.
config/*.txt
config/straight

public/assets/
public/uploads
public/uploads_test

.DS_Store
!.gitkeep

vendor/gems/straight*
vendor/bundle
/bundle
.env.*.local
.env.local

# ansible vars
/config/ansible/inventories/group_vars/stage
/config/ansible/inventories/group_vars/*.old
