/.bundle
db/*.sqlite3
.sass-cache/
/spring

tmp/*
!tmp
log/*.log
!log
.sass-cache/

# Ignore all .yml and .txt files in config, because they should obviously are env specific.
config/*.yml
!config/layouts.yml
config/*.txt
config/straight

public/assets/
public/uploads
public/uploads_test
public/maintenance.html
public/robots.txt

.DS_Store
!.gitkeep

vendor/gems/straight*
vendor/bundle
.env.*.local
