.page.docs {

  padding-bottom: 10em;
  ul { margin: 0 0 0 0; }
  ul.longText li { margin: 1em 0; }
  ul.longText ul li { margin: 0 0; }
  ul p { margin: 0 0 0 0; }
  h2 { margin-top: 2em; }

  .nav {
    margin: 3em 0; font-size: 90%; font-weight: bold;
    .left  { float: left; width: 40%; }
    .right { float: right; width: 40%; text-align: right; }
  }

}
