.page.gateways {

  &.index {
    .actions { text-align: right; }
    .list { margin: 2em 0; }
  }

  &.new, &.edit {
    select#gateway_default_currency, select#gateway_convert_currency_to, select#gateway_confirmations_required { width: 70px; }
  }

  &.show {
    .button.editGateway { float: right; }

    .secret {
      clear: both; margin: 2em 0 1em 0; background-color: #FFE885; border: solid 1px #8F5800;
      padding: 1em; border-radius: 7px;
      .warning { margin-bottom: 1em; font-size: 90%; }
    }

    table { @include resource-info-table }

    .seeAllOrders { font-size: 80%; padding-left: 2em; position: relative; top: -0.15em; }

  }


}
