.page.gateways {

  &.index {
    .actions { text-align: right; }
    .list {
      margin: 2em 0;
      table {
        border-collapse: separate; border-spacing: 2px; width: 100%; clear: both; margin-top: 2em;
        th { text-align: left; font-weight: bold; font-size: 85%; width: 30%; background-color: #9FB5D5; }
        th, td { padding: 0.7em; }
        td { background-color: #DCE5EF; }
      }
    }
  }

  &.new, &.edit {
    select#gateway_default_currency, select#gateway_confirmations_required { width: 70px; }
  }

  &.show {
    h2 { width: 50%; float: left; }
    .button.editGateway { float: right; }

    .secret {
      clear: both; margin: 2em 0 1em 0; background-color: #FFE885; border: solid 1px #8F5800;
      padding: 1em; border-radius: 7px;
      .warning { margin-bottom: 1em; font-size: 90%; }
    }

    table { @include resource-info-table }

    .seeAllOrders { font-size: 80%; padding-left: 2em; position: relative; top: -0.15em; }

  }

  p.exportPubkeyVideos { font-size: 85%; font-weight: bold; }

}
