.page.orders {

  &.index {

    h2 { color: $colors_gray; }

    .actions {
      width: 100%; @include clearfix;
      .activeFilters {
        float: left; width: 50%;
        .filter {
          background-color: $colors_light_gray; padding: 0.3em 0.8em; border-radius: 10px;
          font-size: 80%; float: left; display: inline-block; margin-right: 0.3em; cursor: pointer;
          span.close { color: $colors_red; }
        }
      }
      .filters { width: 50%; float: right; text-align: right; select { text-align: left; } }
    }

    .list {
      margin: 0 0 0 0; position: relative; top: -1em;
      table {
        font-size: 85%;
        border-collapse: separate; border-spacing: 2px; width: 100%; clear: both; margin-top: 2em;
        th { text-align: left; font-weight: bold; width: 30%; background-color: #9FB5D5; }
        th { padding: 0.7em; }
        td { background-color: #DCE5EF; padding: 0.2em 0.5em; cursor: pointer; }
        tr.paid td { background-color: #74C969; }
        tr.unconfirmed td { background-color: #F6B246; }
        tr.underpaid   td { background-color: #F6B246; }
        tr.overpaid    td { background-color: #D9685E; }
        tr.expired     td { background-color: #828F9B; }

        tr.new.hover td { background-color: #B9CBDF;}
        tr.paid.hover td { background-color: #55BD47; }
        tr.unconfirmed.hover td { background-color: #F49E16; }
        tr.underpaid.hover   td { background-color: #F49E16; }
        tr.overpaid.hover    td { background-color: #D35145; }
        tr.expired.hover     td { background-color: #748390; }
      }
    }
  }

  &.show {
    h2    { color: $colors_gray; }
    table { @include resource-info-table }
  }

}
