.page.orders {

  &.index {

    .actions {
      width: 100%; @include clearfix;
      .activeFilters {
        float: left; width: 50%;
        .filter {
          background-color: $colors_light_gray; padding: 0.3em 0.8em; border-radius: 10px;
          font-size: 80%; float: left; display: inline-block; margin-right: 0.3em; cursor: pointer;
          span.close { color: $colors_red; }
        }
      }
      .filters { width: 50%; float: right; text-align: right; select { text-align: left; max-width: 150px; } }
    }

    .list {
      margin: 0 0 0 0; position: relative; top: -1em;
      table {
        tr { cursor: pointer; }
        td.amount { text-align: left; }
        td.address sup { font-weight: bold; color: #96470D; }
        tr:hover td { background-color: #F6F5F3; }

        tr.paid td:last-child { border-right: solid 4px #74C969; }
        tr.paid:hover td:last-child { border-right: solid 4px #55BD47; }

        tr.unconfirmed td:last-child { border-right: solid 4px #F6B246; }
        tr.unconfirmed:hover td:last-child { border-right: solid 4px #F49E16; }

        tr.underpaid td:last-child { border-right: solid 4px #F6B246; }
        tr.underpaid:hover td:last-child { border-right: solid 4px #F49E16; }

        tr.overpaid td:last-child { border-right: solid 4px #D9685E; }
        tr.overpaid:hover td:last-child { border-right: solid 4px #D35145; }
      }
    }
  }

  &.show {
    h2    { color: $colors_gray; }
    table { @include resource-info-table }
  }

}
