.page.wizard {

  .title {
    color: $colors_gray; margin-bottom: 2em;
    p { font-size: 90%; }
  }

  .downloadWallets {
    img { float: left; margin-right: 1em; margin-top: -1.2em; }
    .wallets { margin: 2em 0; font-weight: bold; font-size: 150%; }
    .wallet1 { float: left; margin-right: 4em; }
    @media screen and (max-width: 1280px) {
      .wallet1 { float: none; margin-bottom: 2em; }
    }
    clear: both;
  }

  table.siteBackendTypesSelector  {
    margin-top: 5em;
    td { text-align: center; cursor: pointer; width: 25%; height: 150px; }
    td.pressed { background-color: #464D81; img { opacity: 0.4 }; }
    tr.icons td { border-radius: 10px; }
    tr.names td { font-weight: bold; padding: 0 3em; height: auto; vertical-align: top; }
    tr.icons td:hover { background-color: #C0C3DD; }
    tr.icons td.pressed:hover { background-color: #464D81; }
  }

  form {
    .actions { width: 100%; text-align: center; }
    input[type=submit] { display: inline-block; }
    .button { display: inline-block; }
    .labelHint { margin-left: 1em; font-size: 85%; }
  }

  .websiteTypeChecker {
    display: none;
    width: 300px; margin: 0 auto; padding: 1em; border-radius: 7px; text-align: center; margin-top: 2em;
    background-color: $colors_light_gray;
    label { margin-bottom: 0.5em; display: block; }
    input { width: 250px; }
    div { display: none; }
    .form { display: block; }
  }

  &.step3 {
    ul { margin: 1em 0; }
    li { margin: 0.5em 0; }
  }

}
