---
http_interactions:
- request:
    method: post
    uri: https://cashila-staging.com/api/v1/request-signup
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"token":"3bd0846f-5b3c-4443-bbe4-c6a648f7442d","secret":"63pjbjj1B8\/EwPdEfhBXY45WRWyT+lAuR\/xx5ENcz78Nid2NpmuoYlYKbOftHQSlLd8QMyTkQ005kMti2BONUQ=="}}'
  recorded_at: Tue, 30 Jun 2015 09:33:41 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"example@example.com"},"verification":{"first_name":"Example","last_name":"Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 3bd0846f-5b3c-4443-bbe4-c6a648f7442d
      Api-Nonce:
      - '1435656821226776'
      Api-Sign:
      - a939PSR30keh/B0sbXYkm7hPu33e/bRrJmXe5HBhkx1ErJUc5MhvCeBDig4DG5mmSLqRMTj7/ORHi7HuyFOX6g==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":1012,"message":"Account Register params invalid","userMessage":"The
        email format is invalid.","userMessageTitle":"Error","user_message":"The email
        format is invalid.","user_message_title":"Error"}}'
  recorded_at: Tue, 30 Jun 2015 09:33:41 GMT
recorded_with: VCR 2.9.3
