---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"alerticus+spam6@gmail.com"},"verification":{"city":"Vilnius","address":"somewhere","last_name":"Xample","first_name":"Example","postal_code":"000000","country_code":"LT","recipient_bic":"BPHKPLPK","recipient_city":"Vilnius","recipient_iban":"LT121000011101001000","recipient_name":"Example
        Xample","recipient_address":"somewhere","recipient_postal_code":"000000","recipient_country_code":"LT"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - d9dd0855-38aa-42a2-acc4-436196862184
      Api-Nonce:
      - '1435735988667921'
      Api-Sign:
      - Di91DaJVXx2lknpawTt7HYL5cSF/t2uarw1z3xaa5qlliOE1Vks/FMQesWQ7Av3EP9mRn1geNtvR+qBybccYmw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Wed, 01 Jul 2015 07:33:09 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/recipients
    body:
      encoding: UTF-8
      string: '{"bic":"BPHKPLPK","city":"Vilnius","iban":"LT121000011101001000","name":"Example
        Xample","address":"somewhere","postal_code":"000000","country_code":"LT"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - d9dd0855-38aa-42a2-acc4-436196862184
      Api-Nonce:
      - '1435735989205264'
      Api-Sign:
      - 4G4Zaq41mqOnW2qFRac0IPUAFYOMaf0LpQIuP6LXucXNKJGL5KV/CgHLk9wXvgZO5g8EHo0YY1/CBHcF+FI2ow==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"530b6137-a48c-4dee-a782-9985148508f1","name":"Example
        Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","country_name":"Lithuania","last_used":"2015-07-01T07:33:08+0000"}}'
  recorded_at: Wed, 01 Jul 2015 07:33:09 GMT
recorded_with: VCR 2.9.3
