---
http_interactions:
- request:
    method: post
    uri: https://cashila-staging.com/api/v1/request-signup
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"token":"8adcf09d-7390-4680-a7a1-0571fc3d436d","secret":"iSdXVleH1wvd2bOc8x0iqgDOD+7aq5RCWhMzDWXHRG0OQRiDZO1qbgXJPxZ\/whJ6qWiU8d7z7kLcIcJ\/Rnjosg=="}}'
  recorded_at: Tue, 30 Jun 2015 09:33:42 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"alerticus+spam4@gmail.com"},"verification":{"first_name":"Example","last_name":"Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","recipient_name":"Example
        Xample","recipient_address":"somewhere","recipient_postal_code":"000000","recipient_city":"Vilnius","recipient_country_code":"LT","recipient_bic":"BPHKPLPK"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 8adcf09d-7390-4680-a7a1-0571fc3d436d
      Api-Nonce:
      - '1435656822399144'
      Api-Sign:
      - 3nfkiLZsbN25MPnedj/qEm/d4tk1Bps+4y63NqV3kUsbKlVNaKfOklmXBt7fP4EWnaFhFQnWp/BBFkKGSlPTZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Tue, 30 Jun 2015 09:33:43 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/recipients
    body:
      encoding: UTF-8
      string: '{"name":"Example Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","bic":"BPHKPLPK"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 8adcf09d-7390-4680-a7a1-0571fc3d436d
      Api-Nonce:
      - '1435656823646900'
      Api-Sign:
      - 13xPnJ2ujMgsfpA0v6aRW1mfzL9YqGNNDMSDAjAqPFHiksWVXhQ3UgNccw7ma8Oyxjqz5GLKR0qHb3abwdFGPw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":1016,"message":"Recipient invalid","userMessage":"The
        iban field is required.","userMessageTitle":"Error","user_message":"The iban
        field is required.","user_message_title":"Error"}}'
  recorded_at: Tue, 30 Jun 2015 09:33:44 GMT
recorded_with: VCR 2.9.3
