---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"alerticus+spam4@gmail.com"},"verification":{"first_name":"Example","last_name":"Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","recipient_name":"changed
        name","recipient_address":"somewhere","recipient_postal_code":"000000","recipient_city":"Vilnius","recipient_country_code":"LT","recipient_bic":"BPHKPLPK","recipient_iban":"LT121000011101001000"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 8adcf09d-7390-4680-a7a1-0571fc3d436d
      Api-Nonce:
      - '1435658577852438'
      Api-Sign:
      - VrU1q7qwKQuj67HJocuN60JBS1/fUK75j1eILTLuvaWplqcn0aj4PmgI9dsybetvrYVf4ZaBQHWKU21CpjTH3A==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Tue, 30 Jun 2015 10:02:58 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/recipients/ecaac550-33e6-4a04-9923-23d6f4b53797
    body:
      encoding: UTF-8
      string: '{"name":"changed name","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","bic":"BPHKPLPK","iban":"LT121000011101001000"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 8adcf09d-7390-4680-a7a1-0571fc3d436d
      Api-Nonce:
      - '1435658578406354'
      Api-Sign:
      - t8eBCCpnkvemjZc7kJLkqfazuxoepX6yZrZ+qCEkmmF919wSa5vZUTv5eamFMrAGVIs5mJepgYbj2RnNX4j6uw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"ecaac550-33e6-4a04-9923-23d6f4b53797","name":"changed
        name","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","country_name":"Lithuania","last_used":"2015-06-30T10:02:59+0000"}}'
  recorded_at: Tue, 30 Jun 2015 10:02:59 GMT
recorded_with: VCR 2.9.3
