---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"alerticus+spam4@gmail.com"},"verification":{"first_name":"Example","last_name":"Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","recipient_name":"Example
        Xample","recipient_address":"somewhere","recipient_postal_code":"000000","recipient_city":"Vilnius","recipient_country_code":"LT","recipient_bic":"BPHKPLPK","recipient_iban":"LT121000011101001000"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 8adcf09d-7390-4680-a7a1-0571fc3d436d
      Api-Nonce:
      - '1435658576698464'
      Api-Sign:
      - 44bfMU8itAJdj4QEZnKyA1ZGhEL0Qjds4t5Vx1+vLgmAzuW5maHssd2UisRlDd/9BCjxRzfSxoSO0HAiSvhpvg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Tue, 30 Jun 2015 10:02:57 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/recipients
    body:
      encoding: UTF-8
      string: '{"name":"Example Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","bic":"BPHKPLPK","iban":"LT121000011101001000"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 8adcf09d-7390-4680-a7a1-0571fc3d436d
      Api-Nonce:
      - '1435658577283577'
      Api-Sign:
      - 0R3dfI55tuUit1xWSPoq0YRnU6s3yWIhW+Sjwn8s+RCxteSzDZJJ0VTv7ETBMAlVFSne5iSxbOfmP48pWW9c8Q==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"ecaac550-33e6-4a04-9923-23d6f4b53797","name":"Example
        Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","country_name":"Lithuania","last_used":"2015-06-30T10:02:59+0000"}}'
  recorded_at: Tue, 30 Jun 2015 10:02:57 GMT
recorded_with: VCR 2.9.3
