---
http_interactions:
- request:
    method: post
    uri: https://cashila-staging.com/api/v1/request-signup
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"token":"e0dc4e2a-11ea-4805-b61b-629d890fdfe8","secret":"ShgRrSZ7TrZrN3nPEWVe+4wUIlig56+1FM2fwNeaaiVBAEJ8TZhxG2D+IxJavUd3Oq4IXtZ7N1tLTOt0svvUUw=="}}'
  recorded_at: Wed, 01 Jul 2015 07:33:05 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"example@example.com"},"verification":{"first_name":"Example","last_name":"Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","recipient_name":"Example
        Xample","recipient_address":"somewhere","recipient_postal_code":"000000","recipient_city":"Vilnius","recipient_country_code":"LT","recipient_bic":"BPHKPLPK","recipient_iban":"LT121000011101001000"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - e0dc4e2a-11ea-4805-b61b-629d890fdfe8
      Api-Nonce:
      - '1435735985179319'
      Api-Sign:
      - 33gACwlyi6/xMUFdjHG1guO+DsRHSkL3dBmJt6NtIXsHx/nJSXqrqXQDN0dRfS+nyMqtBCNwkUWpJSrt0l0v7A==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":1012,"message":"Account Register params invalid","userMessage":"The
        email format is invalid.","userMessageTitle":"Error","user_message":"The email
        format is invalid.","user_message_title":"Error"}}'
  recorded_at: Wed, 01 Jul 2015 07:33:05 GMT
recorded_with: VCR 2.9.3
