---
http_interactions:
- request:
    method: post
    uri: https://cashila-staging.com/api/v1/request-signup
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"token":"ed97f9e9-08e5-41f1-9ecc-1160af2c5c99","secret":"9KVzB8NAMOWlIncXrUPTWUCQaOrMlwFhLq7Pt28wFQqaUne+4FzhKRA3pU3RsmOatsu4FUXu7qgigvr4sXYALw=="}}'
  recorded_at: Tue, 30 Jun 2015 09:33:38 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"alerticus+spam3@gmail.com"},"verification":{"first_name":"Example","last_name":"Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","recipient_name":"Example
        Xample","recipient_address":"somewhere","recipient_postal_code":"000000","recipient_city":"Vilnius","recipient_country_code":"LT","recipient_bic":"BPHKPLPK","recipient_iban":"LT121000011101001000"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - ed97f9e9-08e5-41f1-9ecc-1160af2c5c99
      Api-Nonce:
      - '1435656818712056'
      Api-Sign:
      - aSXHY63idXqF6sYhRqKXNwyQ0YugmJrHMY5E8omVG+S4pcRU2D8XjocibHnWcYyeJ8Y0BBiZb6rJ5NKNGzloBQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Tue, 30 Jun 2015 09:33:40 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/recipients
    body:
      encoding: UTF-8
      string: '{"name":"Example Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","bic":"BPHKPLPK","iban":"LT121000011101001000"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - ed97f9e9-08e5-41f1-9ecc-1160af2c5c99
      Api-Nonce:
      - '1435656820060292'
      Api-Sign:
      - vmxUUEPc366Y5822A717STlBzXHcSsfZl1iShvl48FSKALUC0dzWy+XyxcK2sXmqqcVObHJWYYP8a+Dd1euc9A==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"7f96aea2-3007-4b9b-b337-3b521506492a","name":"Example
        Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","country_name":"Lithuania","last_used":"2015-06-30T09:33:41+0000"}}'
  recorded_at: Tue, 30 Jun 2015 09:33:40 GMT
recorded_with: VCR 2.9.3
