---
http_interactions:
- request:
    method: post
    uri: https://cashila-staging.com/api/v1/request-signup
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"token":"d9dd0855-38aa-42a2-acc4-436196862184","secret":"ZdzMObrdBBn69v8LqYseVK293aQzj\/\/flMEkb5w39XZpNmyBfeN39SUTeLiX+cQmO35wHHG3oq4KCB\/vuHTTOg=="}}'
  recorded_at: Wed, 01 Jul 2015 07:33:06 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"alerticus+spam6@gmail.com"},"verification":{"first_name":"Example","last_name":"Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","recipient_name":"Example
        Xample","recipient_address":"somewhere","recipient_postal_code":"000000","recipient_city":"Vilnius","recipient_country_code":"LT","recipient_bic":"BPHKPLPK","recipient_iban":"123"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - d9dd0855-38aa-42a2-acc4-436196862184
      Api-Nonce:
      - '1435735986667280'
      Api-Sign:
      - QngJNNnpL2tIBzgQqRRz7GvHmHDYp2RwYPjZKFAkuv8K9jYzs7oVTOZUUq2b/Z8je9RpY1t1oiCv5OWOUEtIkQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Wed, 01 Jul 2015 07:33:08 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/recipients
    body:
      encoding: UTF-8
      string: '{"name":"Example Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","bic":"BPHKPLPK","iban":"123"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - d9dd0855-38aa-42a2-acc4-436196862184
      Api-Nonce:
      - '1435735988103618'
      Api-Sign:
      - TttGK0Xcp9m5Lklo0hS/78iffhbhm+ZLJRw1X7ADWOoxObHySszmRy00Mqyer4ZBc/SWLrL2vBlDd9ImgYZTMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":1016,"message":"Recipient invalid","userMessage":"IBAN
        is not valid","userMessageTitle":"Error","user_message":"IBAN is not valid","user_message_title":"Error"}}'
  recorded_at: Wed, 01 Jul 2015 07:33:08 GMT
recorded_with: VCR 2.9.3
