---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"alerticus+spam6@gmail.com"},"verification":{"city":"Vilnius","address":"somewhere","last_name":"Xample","first_name":"Example","postal_code":"000000","country_code":"LT","recipient_bic":"BPHKPLPK","recipient_city":"Vilnius","recipient_iban":"LT121000011101001000","recipient_name":"changed
        name","recipient_address":"somewhere","recipient_postal_code":"000000","recipient_country_code":"LT"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - d9dd0855-38aa-42a2-acc4-436196862184
      Api-Nonce:
      - '1435735989705550'
      Api-Sign:
      - skzbNu/eCTugxWPqMZvZqKRL7NNNLLaYYhSoglz/FCFEdV5SKZ6qmXSiXeCg3y8RKKggKsn6K24FssJtDPQPFw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Wed, 01 Jul 2015 07:33:10 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/recipients/530b6137-a48c-4dee-a782-9985148508f1
    body:
      encoding: UTF-8
      string: '{"bic":"BPHKPLPK","city":"Vilnius","iban":"LT121000011101001000","name":"changed
        name","address":"somewhere","postal_code":"000000","country_code":"LT"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - d9dd0855-38aa-42a2-acc4-436196862184
      Api-Nonce:
      - '1435735990181257'
      Api-Sign:
      - "+8y/Uh7NPAzwUiwdWBCNuJZinXcO5C8Fiw1RT5fpyszzgnf4Hf72L4Fmc5SruybYIl6wXrMLjQC65ZfMroDq0A=="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"530b6137-a48c-4dee-a782-9985148508f1","name":"changed
        name","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","country_name":"Lithuania","last_used":"2015-07-01T07:33:08+0000"}}'
  recorded_at: Wed, 01 Jul 2015 07:33:10 GMT
recorded_with: VCR 2.9.3
