---
http_interactions:
- request:
    method: get
    uri: https://cashila-staging.com/api/v1/verification
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - e414d696-296f-4e10-97b3-3bbaecbe150e
      Api-Nonce:
      - '1435736202567443'
      Api-Sign:
      - Fk0K92NjHX86sQsZ7CO1J2FRLSw+gSaYa9uTJ56F8sSKzC0RUSgJJAqr9mk3wYxP+ADzGsZfhDAocAoj76BQMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"pending","first_name":"Example","last_name":"Xample","address":"somewhere","city":"Vilnius","postal_code":"000000","country_code":"LT","gov-id-front":{"present":true,"approved":false},"gov-id-back":{"present":true,"approved":false},"residence":{"present":true,"approved":false}}'
  recorded_at: Wed, 01 Jul 2015 07:36:43 GMT
- request:
    method: get
    uri: https://cashila-staging.com/api/v1/recipients/5ea979a7-1699-4df2-acc4-bc44bb3091b6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - e414d696-296f-4e10-97b3-3bbaecbe150e
      Api-Nonce:
      - '1435736203170605'
      Api-Sign:
      - KNC59h32AZszUSca0SNmNEGj36Sjl5lyr2YgbRI82eAxZIW+newvdsdE9LuVblIct/0ilX7yGruXIMesjyWptg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"5ea979a7-1699-4df2-acc4-bc44bb3091b6","name":"Example
        Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","country_name":"Lithuania","last_used":"2015-07-01T07:33:03+0000"}}'
  recorded_at: Wed, 01 Jul 2015 07:36:43 GMT
recorded_with: VCR 2.9.3
