.widgetCodeAndPreview
  .pure-g

    .pure-u-12-24
      .container.widgetCode
        %h3 Widget HTML code
        This is your widget code. You will need to copy and paste it onto your page:
        %textarea= render_to_string(template: 'widgets/_site_host_code', layout: false)
        .hint You <b>don't</b> need to copy and and paste this code every time you change Widget settings. The code is always the same.

    .pure-u-12-24
      .container
        %h3 Widget perview
        This is what your widget looks like with the current settings:
        = render partial: "widgets/admin_host_code"
