.pure-g
  .pure-u-1-1.breadcrumbs-container
    %span.breadcrumbs
      = breadcrumbs(@node)
.pure-g.container
  .pure-u-1-1
    %h1 Documentation
  .pure-u-1-4.sidebar
    %form.pure-form.pure-form-stacked{:action => version_path, :method => "POST"}
      = render 'versions_select'
    = render 'nav'
  .pure-u-3-4
    .content
      = yield
