-# .pure-g
-#   .pure-u-1-1.breadcrumbs-container
-#     %span.breadcrumbs
-#       = iwd_breadcrumbs(@node)
.iwd.pure-g.container
  .pure-u-1-1
    %h1 Documentation
  .pure-u-1-4.sidebar
    %form.pure-form.pure-form-stacked{:action => iwd.version_path, :method => "POST"}
      = render 'versions_select'
    = render 'nav'
  .pure-u-3-4
    .content
      = content
