default: &default
  adapter: postgresql
  encoding: utf8
  username: postgres
  password:
  host: db
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: gear_admin_dev

test:
  <<: *default
  database: gear_admin_test

production:
  <<: *default
  database: gear_admin_dev
