%h1 Listing changelogs

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @changelogs.each do |changelog|
      %tr
        %td= link_to 'Show', changelog
        %td= link_to 'Edit', edit_changelog_path(changelog)
        %td= link_to 'Destroy', changelog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Changelog', new_changelog_path
