@import 'components/gradients';

// reset button's styles
button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589F;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  margin: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

button, .button, input[type=submit] {

  font-size: 100%;

  padding: 0.7em 2em;
  &.big   { padding: 0.7em 2em; font-size: 130%; }
  &.small { padding: 0.3em 1.5em; font-size: 85%; }

  font-size: 100%; font-weight: bold; text-decoration: none; cursor: pointer;

  margin: 0.5em 0 0.5em 0.5em; text-align: center; display: inline-block; position: relative;
  font-weight: bold; border: solid 1px #8B8165; border-radius: 3px; text-shadow: #555 1px -1px;
  outline: none;

	color:#505739 !important;
	font-weight:bold;
	text-shadow:0px 1px 0px #ffffff;

  @include disable-text-selection;
  @include gradient-button;

  &:hover { @include box-shadow(#7D7D7D, 0px, 0px, 5px, 0px); }

  &.pressed  { @include gradient-button-inverted; }
  &.disabled { color: #AAB8CA; color: rgba(80, 87, 57, 0.5); opacity: 0.7; cursor: default; }
  &.disabled:hover { @include box-shadow(transparent, 0px, 0px, 5px, 0px); }

  &.locked { text-shadow: #fff 1px 1px; opacity: 0.7; cursor: default; }  
  &.locked:hover { @include box-shadow(transparent, 0px, 0px, 5px, 0px); }


  &.onDark {
    @include gradient-on-dark-button;
    -moz-box-shadow: 0px 1px 0px 0px #151523;
    -webkit-box-shadow: 0px 1px 0px 0px #151523;
    text-shadow: #151523 1px -1px;
    border: solid 1px #27273F; 
    color: #B3B3D0 !important;
    &.pressed  { @include gradient-on-dark-button-inverted; }
  }

}

button {
  padding: 0.85em 1.8em;
  &.small { padding: 0.65em 1.5em; }
  &.big   { padding: 0.7em 2em; }
}

.button {
  padding: 0.53em 2em;
  &.small { padding: 0.65em 1.5em; }
  &.big   { padding: 0.7em 2em; }
}
