@mixin text-field-with-errors {
  background-color: $colors_pink;
  border: solid 1px $colors_red;
  @include inset-box-shadow(#ED8787, 2px, 2px, 2px, 0px);
  &:focus { @include inset-box-shadow(#ED8787, 2px, 2px, 2px, 0px); border: solid 1px $colors_red; }
}

form {

  abbr[title=required] { display: none; }
  label { display: block; clear: both; margin-bottom: 0.2em; }
  div.input, input[type=submit] { margin: 0.5em 0 1em 0; }
  .hint { display: block; font-size: 80%; color: $colors_gray; margin-top: 0.2em; line-height: 120%; }

  .input.boolean {
    input { float: left; }
    label { margin-left: 0.5em; cursor: pointer; display: inline; }
  }
  
  .formBlock {
    border: solid 1px $colors_light_gray; border-radius: 7px; padding: 1em 2em 1em 1em; margin-bottom: 1em;
    h3 { margin: 0 0 0 0; font-size: 100%; }
    p.description { margin: 0 0 1em 0; font-size: 85%; color: $colors_gray; }
    input[type=text], input[type=password], input.string, textarea { width: 100%; }
  }

  label.radio { cursor: pointer; }

  span.error { display: block; color: $colors_red; margin: 0.3em 0 1em 0; }

  .string.field_with_errors input,
  .integer.field_with_errors input,
  .float.field_with_errors input,
  .field_with_errors { textarea, input[type=text], input[type=password] { @include text-field-with-errors }}

  select { width: 50%; }

  input[type=text], input[type=password], input.string, textarea {

    width: 99%;

    border-radius: 5px; border: solid 1px #aaa; outline: none; padding: 0.3em; font-size: 100%;
    @include inset-box-shadow(#ddd, 2px, 2px, 2px, 0px);

    &:focus {
      @include inset-box-shadow(#B1CDD8, 2px, 2px, 2px, 0px);
      border: solid 1px #5592AA;
    }

    &.error { @include text-field-with-errors }

  }

  textarea { min-height: 100px; }

}

ul.deviseMenu {
  text-align: center; font-size: 85%;
  li { display: inline; margin: 0 0.5em; }
}
