@mixin gradient-button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
}

@mixin gradient-gray-inverted {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#eae0c2;
}

@mixin gradient-current-menu {
  background: #a1b5d1; /* Old browsers */
  background: -moz-linear-gradient(top,  #a1b5d1 1%, #a6bfd8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a1b5d1), color-stop(100%,#a6bfd8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a1b5d1 1%,#a6bfd8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a1b5d1 1%,#a6bfd8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a1b5d1 1%,#a6bfd8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a1b5d1 1%,#a6bfd8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1b5d1', endColorstr='#a6bfd8',GradientType=0 ); /* IE6-9 */
}
