.pagination {

  margin: 1em 0;

  em { border: solid 1px $colors_light_gray }
  .next_page, .previous_page, a, em { padding: 0.7em; text-align: center; border-radius: 7px; text-decoration: none; }
  .next_page, .previous_page, a { border: solid 1px $colors_light_blue; }
  .previous_page.disabled, .next_page.disabled { border: solid 1px $colors_light_gray; opacity: 0.7em; }

}
