@import 'mixins';

.widget {

  .widgetCode {}
  .settings {
    background-color: #E3DFD9; padding: 0 0 0 0; border-radius: 7px;
    .container {

      padding: 1em;
      h3 { margin: 0 0 0.2em 0; }

      .hint { font-size: 85%; line-height: 120%; margin-top: 0px; }

      img.add, img.remove { cursor: pointer; margin-bottom: -7px; }
      .item { margin-bottom: 0.7em; }

      input.error { @include text-field-with-errors; }
      .errorMessage { margin-top: 0.5em; color: $colors_red; font-size: 80%; line-height: 100%; }

      &.products {
        input.title { width: 200px; }
        input.price { width: 50px; }
      }

      &.fields {
        label { cursor: pointer; }
        label.required { margin-left: 1em; }
        input.fieldName { width: 50%; }
        img.add, img.remove { margin-left: 1em; }
      }

    }

    .formActions {
      padding: 1em; text-align: center;
      .saveWarning { color: $colors_red; opacity: 0; }
    }

  }

}

.widgetCodeAndPreview {

  margin-top: 1em;

  .installationInstructions { padding: 1em; }
  iframe { margin-top: 1em; }

  .widgetCode {
    textarea { height: 150px; }
    .hint { font-size: 85%; line-height: 100%; margin-top: 0.5em; }
    input { margin: 0 0 0 0; }
  }

  .widgetPreview {
    background: asset-url('widget_bgrnd.png'); border-radius: 7px;
  }

}
