$colors_text          : #464544;
$colors_white         : #aaa;

$colors_link          : #0051C2;
$colors_link_visited  : #0051C2;
$colors_link_active   : #C2000A;

$colors_green         : #288e00;
$colors_yellow        : #FFF5A1;
$colors_red           : #960000;
$colors_gray          : #7A7F90;
$colors_light_gray    : #B1B4BE;
$colors_pink          : #ffb8b8;
$colors_light_blue    : #9DBDE1;
$colors_blue          : #0051C2;
