@import 'colors';
@import 'mixins';

@import 'components/left_sidebar';
@import 'components/top_bar';
@import 'components/page_content';
@import 'components/widget_generator';
@import 'pages/gateways';
@import 'pages/orders';
@import 'pages/wizard';
@import 'pages/docs';
@import 'components/chosen';

body {
  min-width: 800px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

html, body { height: 100%; }

.list .noRecords { text-align: center; color: $colors_gray; font-size: 90%; }
.pages form { width: 50%; }


.pageContainer{
  float: left;
  width: 100%;
}

.pageContent{
  margin-left: 300px; /*Set left margin to LeftColumnWidth*/
}

.leftSidebar{
  float: left;
  width: 300px; /*Width of left column*/
  margin-left: -100%;
}
