@import "frontend_notifier.css.scss";

#frontend_notification {
  height: 4em; font-size: 80%;
  .message { text-align: left; padding: 0.9em 0 0 2em; font-size: 120%; }
  .info { span.closingCounter { position: relative; top: -4px; }}
}

.authenticated #frontend_notification {
  margin-left: 300px;
  .info { position: relative; left: -300px; }
}
