@import 'colors';

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
body { background-color: #D5DEE8; color: $colors_text; margin: 0 0 0 0; line-height: 150%; }
