@import 'colors';
@import 'mixins';
@import 'components/buttons';
@import 'components/forms';
@import 'components/paginator';

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
body { background-color: #D5DEE8; color: $colors_text; margin: 0 0 0 0; line-height: 150%; }

.ajaxLoader {
  display: none; position: absolute; z-index: 10;
 &.small { width: 10px; } 
}

a         { color: $colors_link; }
a:visited { color: $colors_link_visited; }
a:active  { color: $colors_link_active; }

.alwaysFresh {
  a:visited { color: $colors_link; }
}

.regularText { color: $colors_text; }
.gray { color: $colors_gray; }
.center { text-align: center; }
