@import 'colors';
@import 'mixins';
@import 'tos';


body { background-color: #1F1F29; color: #C9C9DE; }

header, .pageContainer {
  @include width-700px-centered;
}

header {
  .logo { text-align: center; padding: 5em 0 0 0; }
}

.page {

  .formBlock {
    background-color: #484860; border-radius: 10px; padding: 5em; margin: 5em 0;
    h2 { text-align: center; font-size: 90%; font-weight: bold; color: #fff; }
    .form-actions { text-align: center; }
    .checkBoxCenter { width: 130px; margin: 0 auto; text-align: left; }
  }

}

a, a:visited, a:hover { color: #fff; }
form span.error { color: #F8C4CA; }
