- @page_title = I18n.t('page_title', scope: 'devise.mailer.confirmation_instructions')

%p= I18n.t('greetings', scope: 'devise.mailer.confirmation_instructions')
%p
  = I18n.t('message', scope: 'devise.mailer.confirmation_instructions')
  %br/
  = link_to I18n.t('link_to_confirm', scope: 'devise.mailer.confirmation_instructions'), confirmation_url(@resource, confirmation_token: @token)
