- @page_title = I18n.t('page_title', scope: 'devise.mailer.unlock_instructions')

%p= I18n.t('greetings', scope: 'devise.mailer.unlock_instructions')
%p
  = I18n.t('message', scope: 'devise.mailer.unlock_instructions')
  %br/
  = I18n.t('message_2', scope: 'devise.mailer.unlock_instructions')
  %br/
  = link_to = I18n.t('unlock_link', scope: 'devise.mailer.unlock_instructions'), unlock_url(@resource, unlock_token: @token)
