- @page_title = "Add widget to your website"

.page.wizard.step3

  .title

    %p
      %b Start accepting Bitcoin payments in three simple steps!
    %p This wizard will guide through the process of adding a Bitcoin payment option to your website. It's very simple and only requires you to have a Bitcoin wallet that supports BIP32 (Mycelium or Electrum) and access to your website.

  %h1 Step 3: Add payment widget to your website

  = render partial: 'widgets/form'
  = render partial: 'widgets/preview'

  - if @gateway.site_type == "html" || !@gateway.site_type

    .installationInstructions

      %p Since your website isn't built with either Wordpress or Shopify, you will need to insert the widget html code yourself. Here's what you should do:

      %ol
        %li Upload that file onto your server
        %li Repeat for every page you would like the widget to appear on

      %p Watch our video explaining how to that:
      <iframe width="560" height="315" src="https://www.youtube.com/embed/c193UA3pErY" frameborder="0" allowfullscreen></iframe>

      %p ...and that's it!
