# If set to db, then use DB table to store gateways,
# useful when your run many gateways on the same server.
gateways_source: db
server_secret: secret
environment: {{ item.straight.environment }}
count_orders: true
check_order_status_in_db_first: true
port: {{ item.straight.port }}
expiration_overtime: 30
reuse_address_orders_threshold: 5

logmaster:
  log_level: INFO # Wise to change to WARN for production
  file: straight.log
  raise_exception: false
  name: Straight server logger

  # These options bellow send you email whenever a FATAL error occurs.
  # You probably want to uncomment them for production. See https://github.com/snitko/logmaste
  # for various email options.
  #
  email_config:
    to: roman.snitko@gmail.com
    from: error@stage-unstable.straight.mycelium.com

blockchain_adapters:
  - Mycelium
  - BlockchainInfo

db:
  adapter: postgres
  #name: straight.db # file is always located in ~/.straight

  # No need to set these options for sqlite,
  # but other DBs may require them.
  #
  user: {{ deploy_user }}
  password: {{ item.straight.db.password }}
  encoding: utf8
  host: localhost
  database: {{ item.straight.db.database }}
  name: {{ item.straight.db.name }}
  #port: 1234

count_orders: true
redis:
  host: localhost
  port: 6379
  db: {{ item.straight.redis.db }} # change to 1, 2, 3 etc. or leave as is
  password: null # if no password is needed, leave as is

throttle:
  requests_limit: 10
  period: 120           # in seconds
  ip_ban_duration: 1800 # in seconds
