%h3 MYCELIUM GEAR TERMS OF USE
%ul.numeric-decimals
  %li
    General Provisions
    %ul
      %li Mycelium Holding LTD (hereinafter, “Mycelium”) offers a user (hereinafter, the User) to use its Mycelium Gear service available at #{ link_to "https://#{Rails.application.secrets.mailer_sender.split('@')[-1]}/", "https://#{Rails.application.secrets.mailer_sender.split('@')[-1]}/" } (hereinafter, the Service).
      %li By starting and/or proceeding to use the Service/its individual functions, the User shall be deemed to have accepted these Terms in full and without any reservations and exceptions. If the User does not accept any of the provisions of these Terms, the User may not use the Service.
      %li These Terms may be amended by Mycelium without any special notice; a revised version of the Terms shall become effective upon being posted on the Internet at the address specified in this paragraph, unless otherwise provided in the revised version of the Terms. The current version of the Terms is always available at #{ link_to tos_url, tos_path }.
      %li If the User does not accept any amendments made by Mycelium to these Terms in a manner set forth in Section 1.3 of these Terms, the User shall stop using the Service.
      %li The Service offers the User to use free of charge a special solution allowing the User to receive bitcoins from any other party directly to the User’s wallet and to enjoy any other related functional features. All currently existing features of the Service, as well as their improvement and/or addition of new ones are the subject of these Terms.
  %li
    User Registration
    %ul
      %li To use the Service, the User shall register on the Service website specified in 1.1 above. For the purpose of registration, the User shall be free to choose a login and password. Mycelium may prohibit certain logins and may set requirements to login and password (length, acceptable characters, etc.).
      %li The User shall be solely responsible for the strength (resistance to guessing) of the chosen password and shall ensure its confidential treatment. The User shall be solely responsible for any actions (and their consequences) performed within or through the Service under the User’s login and password, and all the actions performed within or through the Service under the User’s login and password shall be deemed performed by the User.
  %li
    User Confidential Information
    %ul
      %li Mycelium shall not collect, process or store any confidential information about the User.
  %li
    Use of the Service
    %ul
      %li The Service shall be used by the User through the Service web interface, which is a programming interface between the User and the Service available to the User upon logging into the Service under the User’s login and password.
      %li When using the Service, the User shall review the description of functions available within the Service and shall not use such functions, tools and features until full understanding of their functionality. Use of any functions and features of the Service shall mean that the User understands the meaning of the performed actions and their consequences and assumes full responsibility for the said actions/consequences.
      %li Mycelium shall reserve the right to restrict in its discretion the User’s access to the Service (or to specified functions of the Service, if technically possible) via the User’s account or block the User’s account in case of multiple violations of these Terms, or to take any other measures against the User to comply with the legislative requirements or third party rights and legitimate interests.
  %li
    Terms of Use
    %ul
      %li The User shall be solely responsible to third parties for his/her actions related to the use of the Service, in particular, if such actions may result in the infringement of third party rights and legitimate interests, and for using the Service in compliance with the laws.
      %li The User shall use the Service at his/her own risk. The Service shall be provided “as is”. Mycelium shall assume no responsibility; in particular, Mycelium shall not be responsible to ensure that the Service fits for the User’s purposes and meets the User’s expectations.
      %li Mycelium does not guarantee that the Service is/will be compliant with the User’s requirements and will be provided in an uninterrupted, prompt, reliable and error-free manner; that the results obtained through the use of the Service will be accurate and reliable and could be used for any purposes or in any capacity (for example, to establish and/or confirm any facts); that the quality of any product, service, information etc. obtained through the Service will meet the User’s expectations.
      %li Mycelium shall bear no liability for any damages arising out of the use of the Service or any individual components/functions of the Service by the User.
      %li Mycelium shall not participate in and shall have no access to calculations between the User and the User’s customers, so under no circumstances Mycelium shall bear any liability for financial and any other transaction made by the said persons. Mycelium shall bear no liability for the safety and confidential treatment of the data provided by the said persons for payment purposes.
  %li
    Other Provisions
    %ul
      %li These Terms shall be governed by and interpreted in accordance with the laws of the Republic of Cyprus. Any matters not regulated by these Terms shall be settled in accordance with the laws of the Republic of Cyprus. Any and all disputes that may arise out of the relations governed by these Terms shall be resolved in accordance with the effective laws of the Republic of Cyprus. Throughout the text of these Terms, unless otherwise expressly specified, the “laws” shall mean both the laws of the Republic of Cyprus and the laws of the User’s country of residence.
      %li Since the services provided under these Terms are of a gratuitous nature, the consumer right protection provisions of the laws may not be applied to the relations between the User and Mycelium.
      %li Nothing in these Terms shall be construed to constitute an agency, partnership, joint venture, employment or any other relationship between the User and Mycelium not expressly provided for in these Terms.
      %li If one or more provisions of these Terms are held invalid or unenforceable for any reason, this shall not affect the validity and enforceability of the remaining provisions of the Terms.
      %li Mycelium failure to act in case of violation of the Terms by the User or any other users shall not deprive Mycelium of its right to take appropriate actions later to protect its interests, and shall not mean a waiver of its rights in case of any further violations of such or similar nature.
      %li These Terms are made in English and may be made available to the User for review in a different language. In case of discrepancies between the English version of the Terms and the version in a different language, the provisions of the English version of the Terms shall prevail.

.publication_date Date of publication:  July 10th, 2015
