- @page_title = t("pages.docs.callback.page_title")

.page.docs

  %h1= t("pages.docs.callback.header", link: link_to(t("pages.docs.callback.documentation"), "/docs")).html_safe

  :markdown
    #{render partial: localized_doc_page_for('callback')}

  = render partial: 'pages/docs/navigation', locals: {page: 'callback'}
