- @page_title = "Creating orders | API Documentation"

.page.docs

  %h1 #{ link_to "Documentation", "/docs"} / API / Creating orders

  :markdown
    #{render partial: 'pages/docs/md/creating_orders.md'}

  = render partial: 'pages/docs/navigation', locals: {page: 'creating_orders'}
