- @page_title = t("pages.docs.creating_orders.page_title")

.page.docs

  %h1= t("pages.docs.creating_orders.header", link: link_to(t("pages.docs.creating_orders.link"), "/docs")).html_safe

  :markdown
    #{render partial: localized_doc_page_for('creating_orders')}

  = render partial: 'pages/docs/navigation', locals: {page: 'creating_orders'}
