- @page_title = t("pages.docs.last_keychain_id.page_title")

.page.docs
  %h1= t("pages.docs.last_keychain_id.header", link: link_to(t("pages.docs.last_keychain_id.link"), "/docs")).html_safe

  %p
    = t("pages.docs.last_keychain_id.statement_1")

  .code GET https://gateway.gear.mycelium.com/gateways/:gateway_id/last_keychain_id

  %p
    = t("pages.docs.last_keychain_id.statement_2")

  .code {"gateway_id": 1, "last_keychain_id": 10}

  = render partial: 'pages/docs/navigation', locals: {page: 'last_keychain_id'}

