- @page_title = I18n.t("page_title", scope: "pages.docs.last_keychain_id")

.page.docs
  %h1= I18n.t("header", scope: "pages.docs.last_keychain_id", link: link_to(I18n.t("link", scope: "pages.docs.last_keychain_id"), "/docs")).html_safe

  %p
    = I18n.t("statement_1", scope: "pages.docs.last_keychain_id")

  .code GET https://gateway.gear.mycelium.com/gateways/:gateway_id/last_keychain_id

  %p
    = I18n.t("statement_2", scope: "pages.docs.last_keychain_id")

  .code {"gateway_id": 1, "last_keychain_id": 10}

  = render partial: 'pages/docs/navigation', locals: {page: 'last_keychain_id'}

