- @page_title = "Order cancellation | API Documentation"

.page.docs

  %h1 #{ link_to "Documentation", "/docs"} / API / Order cancellation

  :markdown
    #{render partial: 'pages/docs/md/order_cancellation.md'}

  = render partial: 'pages/docs/navigation', locals: {page: 'order_cancellation'}
