- @page_title = I18n.t("page_title", scope: "pages.docs.order_cancellation")

.page.docs

  %h1= I18n.t("header", scope: "pages.docs.order_cancellation", link: link_to(I18n.t("link", scope: "pages.docs.order_cancellation"), "/docs")).html_safe

  :markdown
    #{render partial: localized_doc_page_for('order_cancellation')}

  = render partial: 'pages/docs/navigation', locals: {page: 'order_cancellation'}
