- @page_title = "Signed request | API Documentation"

.page.docs

  %h1 #{ link_to "Documentation", "/docs"} / API / Signed request

  %p
    Most requests to API require signature which protects gateway from unauthorized access.
    A signature is a X-Signature header with a string of about 88 chars:

  .code
    %pre= render partial: 'pages/docs/code/signature'

  %p
    Where:

    %ul
      %li REQUEST_METHOD: "GET", "POST", etc.
      %li REQUEST_URI: "/full/path/with?arguments&and#fragment"
      %li REQUEST_BODY: final string with JSON or blank string
      %li X-Nonce: header with an integer which must be incremented with each request (protects from replay attack), for example (Time.now.to_f * 1000).to_i
      %li
        SHA512:
        %a{href: 'https://en.wikipedia.org/wiki/SHA-2'}
          binary SHA-2, 512 bits
      %li
        HMAC-SHA512:
        %a{href: 'https://en.wikipedia.org/wiki/Hash-based_message_authentication_code'}
          binary HMAC with SHA512
      %li GATEWAY_SECRET: key for HMAC
      %li
        Base64StrictEncode:
        %a{href: 'https://en.wikipedia.org/wiki/Base64#RFC_4648'}
          Base64 encoding according to RFC 4648

  %p
    For Ruby users signing is already implemented in
    %span.code straight-server-kit
    gem.

  %p
    There is a tiny chance, that request will fail with "X-Nonce is invalid" error because of simultaneous signed request with a greater nonce. This may be recovered by repeating request with the updated nonce and signature.

  = render partial: 'pages/docs/navigation', locals: {page: 'signed_request'}
