- @page_title = I18n.t("page_title", scope: "pages.docs.signed_request")

.page.docs

  %h1= I18n.t("header", scope: "pages.docs.signed_request", link: link_to(I18n.t("link", scope: "pages.docs.signed_request"), "/docs")).html_safe

  :markdown
    #{render partial: 'pages/docs/md/signed_request.md'}

  = render partial: 'pages/docs/navigation', locals: {page: 'signed_request'}
