- @page_title = I18n.t("pages.docs.signed_request.page_title")

.page.docs

  %h1= I18n.t("pages.docs.signed_request.header", link: link_to(I18n.t("pages.docs.signed_request.link"), "/docs")).html_safe

  :markdown
    #{render partial: localized_doc_page_for('signed_request')}

  = render partial: 'pages/docs/navigation', locals: {page: 'signed_request'}
