- @page_title = "Signed request | API Documentation"

.page.docs

  %h1 #{ link_to "Documentation", "/docs"} / API / Signed request

  :markdown
    #{render partial: 'pages/docs/md/signed_request.md'}

  = render partial: 'pages/docs/navigation', locals: {page: 'signed_request'}
